h1{
color:blueviolet;
margin-left:30px;    
}
.header *{
border:solid    
}
.header{
background-color: aqua;
display: flex ;
justify-content: space-between;    
}
.grid{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;    
}
p,h2{
text-align: center;    
}
.footer{
display: flex;
justify-content: flex-end;
}
body{
background-color: #558799;    
}
a:link{
color:pink;    
}
a:visited{
color:green;    
}
.item{
position:relative;
}
.item p{
position:absolute;
color: gold;
top:50%;
left:50%;
transform:translate(-50%,-50%);
opacity:0;
}
.item:hover p{
opacity:1;    
}
.item:hover img{
opacity:0.33;    
}